
ul{
    list-style: none;
}
li{
    margin: 2em 0;
    background-color: #fff;
    border-radius: 10px;
}

.jobs-container{
    margin-right: 3rem;
    display: flex;
    flex-direction: column;
    padding: 0 40px;
  
}
.job-detail-container{
    flex-basis: 80%;
    padding: 1em 1em;
    font-family: 'roboto';
    display: flex;
    background-color: #fff;
    border-radius: 4px;

}



.company-img{
    width: 100px;
    padding: 1rem;
    border-radius: 4px;
}
.company-img>img{
    width: 150%;
    height: 100%;
    border-radius: inherit;
}
.title-name{
    color: #334680;
    margin-left: 40px;
}
.company-name{
    margin-top: 12px;
    font-weight: 700;
    font-size: 18px;
    line-height: 14px;
}
.job-title{
    margin: 6px 0 6px 0;
    font-weight: 300;
    font-size: 18px;
    line-height: 21px;
}
.location-time{
    align-self: flex-end;
    margin: 0 1em .5em auto;
    display: flex;
    gap: 20px;
    color:  #B9BDCF;
    align-items: center;


}
.location-time >p{
    font-weight: normal;
    
    font-size: 12px;
    line-height: 14px;
}
.job-time-frame{
    background-color: #fff;
    color:  #334680;
    border: 1px solid #334680;
    font-family: 'roboto';
    font-weight: bold;
    font-size: 12px;
    text-align: center;
    padding: 1em;
    border-radius: 4px;
}
.location-container, .time-container{
    font-size: 12px;
    gap: 10px;
    display: flex;
    align-items: center;
}

.extention-time, .location{
    margin-top: 15px;
    align-self: center;
}
.des{
    padding: 20px 50px;
    color:  #334680;
    font-weight: 400;
    font-family: 'poppins';
    line-height: 2;
}