footer{
    display: flex;
}
.buttons-container{
    margin-top: .8em;
    margin-left: auto;
    margin-right: 1.5em;
    padding-bottom: 2em;
}
.page-button{
    margin-right: 10px;
    background-color: transparent;
    border: 1px solid #B7BCCE;
    color: #B7BCCE;
    text-align: center;
    border-radius: 6px;
    padding: 1em;
    font-size: 12px;
    font-family: 'roboto';
    font-weight: 400;
    cursor: pointer;
}
.page-button:hover{
    color: #ffff;
    border-color:  #1E86FF;
    background-color: #1E86FF;
    font-size: 16px;

}
.active{
    margin-right: 10px;
    background-color: transparent;
    border: 1px solid #B7BCCE;
    color: #B7BCCE;
    text-align: center;
    border-radius: 6px;
    padding: 1em;
    font-size: 12px;
    font-family: 'roboto';
    font-weight: 400;
    cursor: pointer;
}
.active:hover{
    color: #ffff;
    border-color:  #1E86FF;
    background-color: #1E86FF;
    font-size: 16px;
}