*{
  padding: 0;
  margin: 0;
}
body{
  background-color: rgb(218, 233, 233);
}
.App{
 
  font-size: 16px;
  font-family: 'poppins','roboto';
  
}
.container{
  display: flex;
  align-items: baseline;
  gap: 1em;
}